{% extends 'myapp/base.html' %}
{% load static %}
{% block title %} Forgot Password {% endblock %}

{% block body %}
    <br><br><br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="background-image:url({% static './myapp/images/loginbg.jpg' %}) ;margin-left:4px;margin-right:6px">
            <br><br>
            <center><h2><b style="color: #177294  ">Artist- Forgot Password</b></h2><hr style="color: #dc4220 ;height:5px">{% autoescape off%} {{msg}} {% endautoescape%}</center><br>
            <form name="form" role="form" action="artist_forgot_password" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="uname"><b>Enter Registered Email</b></label>
                    <input type="text" name="uname" id="funame" class="form-control" placeholder="Email">
                </div>
                <br>
                <button type="submit" name="btn" id="btn" class="btn btn-success form-control"><b>Finish</b></button>
            </form>
            <br>
            <a href="{% url 'castingteam_reg' %}" style="color:#db3b17;text-decoration:none;margin-left:15%">New User <b>SIGN UP</b> here</a>
            <br><br>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
    <br><br>
{% endblock %}