{% extends 'myapp/castingteam_base.html' %}
{% block title %} Casting Team-Change Password {% endblock %}
{% block change_pswd_active %} active {% endblock %}

{% block body %}
<style>
    .pswd_bg{
        background: rgb(63,94,251);
background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(98,244,242,1) 100%);
    }
</style>
<br><br><br><br>
<div class="container pswd_bg">
    <br><br><br><br><br>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="background-color: #dbeed3 ">
            <center><h2><strong>Change Password-Casting Team</strong></h2>{% autoescape off%} {{msg}} {% endautoescape %}</center><br>

            <form role="form" name="form" action="castingteam_changepassword" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="oldpswd">Current Password</label>
                    <input type="password" name="oldpswd" id="oldpswd" class="form-control" placeholder="Your Current Password" required>
                </div>
                <div class="form-group">
                    <label for="newpswd">New Password</label>
                    <input type="password" name="newpswd" id="newpswd" class="form-control" placeholder="Your New Password" required>
                </div>
                <div class="form-group">
                    <label for="cnfpswd">Confirm Password</label>
                    <input type="password" name="cnfpswd" id="cnfpswd" class="form-control" placeholder="Re-enter New Password" required>
                </div>
                <br>
                <div class="form-group">
                    <center>
                    <button type="submit" name="btn1" id="btn1" class="btn btn-success form-control">Update</button>
                    </center>
                </div>
                <br>
                <div class="form-group">
                    <center>
                    <button type="reset" name="btn2" id="btn2" class="btn btn-primary form-control">Reset</button>
                    </center>
                </div>
                <br><br>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
    <br><br><br><br>
</div>
<br><br><br>
{% endblock %}