{% extends 'myapp/castingteam_base.html' %}
{% load static %}
{% block title %} View Plot {% endblock %}
{% block call_active %} active {% endblock %}

{% block body %}
<br><br><br><br>
<div class="container">
    <form name="frm">
        <section style="background-color:#a7aeb1  ">
            <br>
            <center><h3 style="color: #283747 "><b>Plots Scenes</b></h3></center>
            <br>
        </section><br>
        <table class="table table-striped auto-index ">
            <thead class="thead-dark">
            <tr>
                <th>Sl.No</th>
                <th>Plot Scene</th>
                <th>Emotion to Depict</th>
                <th>Video Duration</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for pl in plot_list %}
            <tr>
                <td></td>
                <td><b>{{pl.plot_desc}}</b></td>
                <td>{{pl.plot_emotion}}</td>
                <td>{{pl.plot_video_duration}}</td>
                <td>
                    <button class="btn btn-success" style="width:100px"><a href="./castingteam_edit_plot?id={{pl.id}}" style="color:#fff;text-decoration:none">Edit</a></button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <br><br><br>
        <center>{% autoescape off%} {{empty_msg}} {% endautoescape %}
            <button class="btn btn-secondary" style="width:100px"><a href="./casting_call_view" style="color:#fff;text-decoration:none">Go Back</a></button>
        </center>
    </form>
</div>
<br><br><br><br><br><br><br>

<style>
form
{
    counter-reset:Serial;
}
table
{
}
.auto-index td:first-child:before
{
    counter-increment:Serial; /* Increment Serial Number*/
    content:counter(Serial); /* Display the counter*/
}
</style>
{% endblock %}